.compare-new-tractor-heading{
	padding: 50px 0px 90px;
	background-color: #223c7a;
	color: white;
	p {
		font-size: 16px;
		color: #fff;
		margin-bottom: 0;
	}
}
.compare-products-main{
	.searchCard{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-top: -60px;
    margin-bottom: 30px;
    padding: 20px;
  }
	
}