.dashboard-carousel{
  background: linear-gradient(#031b1e, #1b5a4652);
  height: auto;
  padding: 40px;
}

.search-classified-text {
  padding-top: 120px;
  line-height: 22px;
  position: relative;
  z-index: 6;
  padding-bottom: 30px;
   
  h1{
    font-size: 38px;
    line-height: normal;
    font-weight: normal;
    margin: 0;
    color: #fff;
  }
  p{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
}
.home-widgets {
  border: 1px solid #e6e6e6;
  padding: 30px 20px;
  margin-top: 20px;
}

.home-widgets-title {
  text-align: center;
  margin: -48px 0 30px;
}

.home-widgets-title h3 {
  display: inline-block;
  background-color: white;
  padding: 0 20px;
  font-size: 24px;
  margin: 0;
}

.bg-white{
  background-color: white !important;
}
.home-widgets .or:after {
  content: 'OR';
  position: absolute;
  top: 50%;
  right: 80px;
  font-size: 22px;
  color: #7b8397;
  background-color: white;
  font-weight: bold;
  margin-top: -16px;
  margin-right: -17px;
  margin-bottom: 0;
  margin-left: 0;
  width: 34px;
  text-align: center;
}
.card-img{
  background-color: #7b8397;
  height: 150px;
  width: 210px;
}
.footer {
  background: #23292f;
  border-top: 2px solid #181c20;
  color: #fff;
  padding: 30px 0 10px;
  font-size: 12px;
  line-height: 20px;
}
.footer-link{
  color: #999;
}
.browse-listing{
  list-style: none;
}
.browse-listing li a {
  color: #545454;
  padding: 4px 10px;
  font-size: 16px;
  display: block;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
}
.carousel-control-prev{
  left: -40px !important;
}
.carousel-control-next{
  right: -85px !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  height: 30px !important;
  width: 30px !important;
  background-color: gray !important;
}
.carousel-indicators{
  bottom: -30px !important;
}
.carousel-indicators li {
    background-color: gray;
}
.featured-card{
  border: 1px solid #EAEDEF;
  width: 212px;
  background-color: whitspace-betweene;
}
.new-car-list .heading img, .new-car-list .bike-brand {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-sizing: content-box;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 5px;
}
.space-between{
  justify-content: space-around;
}
.react-multi-carousel-list{
  height: 300px !important;
}
.landingTopbar{
  width: 100vw;
}
.overflow-x-hidden{
  overflow-x: hidden;
}
.dropdown-button{
  position: relative;
  cursor: pointer;
}
.dropdown-button:hover{
  .drop-down-items{
    display: flex;
  }
  background-color: #e6f9ff;
}
.drop-down-items:hover{
  display: flex;
}
.drop-down-items{
  position: absolute;
  background-color: white;
  display: none;
  left: 15px;
  background-color: #e6f9ff;
}
.usedCarsWidth{
  width: 70rem;
}
.newCarsWidth{
  width: 40rem;
}
.autoStoreWidth{
  width: 20rem;
}
.dropdown-list a{
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 50px;
  color: #434343;
}
.dropdown-link:hover{
  color: #007399;
  p{
    color: #007399;
  }
}
.Select-multi-value-wrapper{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.selectSearchContainer{
  .Select-control{
    outline: none ;
    border: none ;
    border-radius: 0px ;
    height: 50px !important;
    min-width: 60px;
    padding-top: 5px;
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11;
  text-align: center;
}

.css-de1c49 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 56px;
  background-color: rgb(255, 255, 255);
  height: 68px;
}

.css-4g4bsj.Mui-selected {
  padding-top: 6px;
  color: rgb(25, 118, 210);
}
.generic-link {
  color: #1877F2;
}

.css-4g4bsj {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 10px 5px 8px;
  max-width: 168px;
  flex-direction: column;
  flex: 1 1 0%;
  min-width: 67px;
  color: rgb(55, 55, 55);
}
.css-1lnpzxd.Mui-selected {
  font-size: 0.875rem;
}

.css-1lnpzxd {
  opacity: 1;
  font-family: Lato, sans-serif;
  font-size: 12px !important;
  padding-top: 5px !important;
  transition: font-size 0.2s ease 0.1s, opacity 0.2s ease;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.bottom-nav-sell-blue {
  width: 54px!important;
  height: 54px!important;
  margin: -19px 0 10px!important;
  border-radius: 50%;
  background-color: #1877F2;
  border: none;
}