// @import "~react-image-gallery/styles/scss/image-gallery.scss";
.dashboard-carousel {
  background: linear-gradient(to top, #223c7a 0%, #0d0d0d 100%);
  height: auto;
  padding: 100px 0px;
  .btn-info:hover {
    background-color: white;
    color: rgb(56, 79, 134);
    border: none;
    outline: none;
  }
}
.clickableSvg{
	cursor: pointer;
}
.paginationButton{
	padding: 17px !important;
	border-left: none !important;
}
.customPagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.customPagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.adjustNoOfRecSelect{
	margin-top: -9px;
}

.pagination-button.disabled {
  cursor: default;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}
.pagination-button {
  color: inherit;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
  border-radius: 0;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.54);
  padding: 8px;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.pagination-button:hover{
  background-color:  #e6ffff;
}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.search-classified-text {
  padding-top: 0px;
  line-height: 22px;
  position: relative;
  z-index: 6;
  padding-bottom: 30px;

  h1 {
    font-size: 38px;
    line-height: normal;
    font-weight: normal;
    margin: 0;
    color: #fff;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
}
.home-widgets {
  border: 1px solid #e6e6e6;
  padding: 30px 20px;
  margin-top: 20px;
}

.home-widgets-title {
  text-align: center;
  margin: -48px 0 30px;
}

.home-widgets-title h3 {
  display: inline-block;
  background-color: white;
  padding: 0 20px;
  font-size: 24px;
  margin: 0;
}

.bg-white {
  background-color: white !important;
}
.home-widgets .or:after {
  content: "OR";
  position: absolute;
  top: 50%;
  right: 80px;
  font-size: 22px;
  color: #7b8397;
  background-color: white;
  font-weight: bold;
  margin-top: -16px;
  margin-right: -17px;
  margin-bottom: 0;
  margin-left: 0;
  width: 34px;
  text-align: center;
}
.card-img {
  background-color: #7b8397;
  height: 160px;
  width: 210px;
}
.footer {
  background: #23292f;
  border-top: 2px solid #181c20;
  color: #fff;
  padding: 30px 0 10px;
  font-size: 12px;
  line-height: 20px;
}
.footer-link {
  color: #999;
}
.browse-listing {
  list-style: none;
  height: 500px;
  overflow: auto;
}
.browse-listing li span {
  color: #545454;
  padding: 4px 10px;
  font-size: 16px;
  display: block;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.carousel-control-prev {
  left: 0px !important;
  width: 5% !important;
  background-color: rgba(26, 26, 26, .3);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.carousel-control-next {
  right: 0px !important;
  width: 5% !important;
  background-color: rgba(26, 26, 26, .3);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px !important;
  width: 30px !important;
}
.carousel-indicators {
  bottom: -30px !important;
  button{
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    width: 30px;
    margin-left: 5px;
  }
}
.carousel-indicators li {
  background-color: gray;
}
.featured-card {
  border: 1px solid #eaedef;
  width: 212px;
  background-color: whitspace-betweene;
  margin: 0px auto;
}
.new-car-list .heading img,
.new-car-list .bike-brand {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-sizing: content-box;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 5px;
}
.space-between {
  justify-content: space-around;
}
.react-multi-carousel-list {
  height: 300px !important;
}
.landingTopbar {
  width: 100vw;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.dropdown-button {
  position: relative;
  cursor: pointer;
}
.dropdown-button-more {
  position: relative;
  cursor: pointer;
}
.dropdown-button:hover {
  display: block;
  .drop-down-items {
    display: flex;
  }
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-button-more:hover {
  display: block;
  .drop-down-items-more {
    display: block;
  }
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-button-category {
  cursor: pointer;
  color: black;
  .drop-down-items:hover {
    display: flex;
  }
  .drop-down-items {
    top: 0px;
    left: 215px;
    z-index: 9999;
  }
}
.dropdown-button-category:hover {
  .drop-down-items {
    display: flex;
  }
  background-color: white;

}
.category-menu {
  display: none;
}
.category-menu:hover {
  .category-drop-down {
    .drop-down-items:hover {
      display: flex;
    }
    display: block;
  }
}
.category-drop-down {
  position: absolute;
  display: none;
  z-index: 9999;
  width: 200px;
  color: #47404f;
  font-size: 0.815rem;
  font-family: "Roboto", sans-serif;
}
.category-drop-down:hover {
  display: flex;
}

.drop-down-items:hover {
  display: flex;
}
.drop-down-items {
  position: absolute;
  background-color: white;
  display: none;
  left: 15px;
}

.drop-down-items-more:hover {
  display: block;
}

.drop-down-items-more {
  position: absolute;
  background-color: white;
  display: none;
  left: 0px;
}
@media screen and (max-width: 992px) {
  .category-menu {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  .category {
    /*display property will be overriden as any class further inside this scope*/
    display: block;
  }
  .category .category-section {
    display: none;
  }
  .category-section-slider {
    margin-top: 40px;
  }
  .category-section-slider img {
    height: 300px;
  }
  .category-hot-product {
    height: auto;
    display: block;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
.usedCarsWidth {
  width: 45rem;
  border-bottom: 5px solid #b30000;
  -moz-box-shadow: 0 4px 4px gray;
  -webkit-box-shadow: 0 4px 4px gray;
  box-shadow: 0 4px 4px gray;
}
.more-width{
  width: 10rem;
  border-bottom: 5px solid #b30000;
  -moz-box-shadow: 0 4px 4px gray;
  -webkit-box-shadow: 0 4px 4px gray;
  box-shadow: 0 4px 4px gray;
}
.newCarsWidth {
  width: 40rem;
}
.autoStoreWidth {
  width: 20rem;
}
.dropdown-list a {
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 50px;
  color: #434343;
}
.dropdown-link:hover {
  color: #007399;
  p {
    color: #007399;
  }
}
.dropdown-link{
  color: #434343;
}
.Select-multi-value-wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.selectSearchContainer {
  .Select-control {
    outline: none;
    border: none;
    border-radius: 0px;
    height: 50px !important;
    min-width: 60px;
    padding-top: 5px;
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11;
  text-align: center;
}

.css-de1c49 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 56px;
  background-color: rgb(255, 255, 255);
  height: 68px;
}

.css-4g4bsj.Mui-selected {
  padding-top: 6px;
  color: rgb(25, 118, 210);
}
.generic-link {
  color: #1877f2;
}

.css-4g4bsj {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 10px 5px 8px;
  max-width: 168px;
  flex-direction: column;
  flex: 1 1 0%;
  min-width: 67px;
  color: rgb(55, 55, 55);
}
.css-1lnpzxd.Mui-selected {
  font-size: 0.875rem;
}

.css-1lnpzxd {
  opacity: 1;
  font-family: Lato, sans-serif;
  font-size: 12px !important;
  padding-top: 5px !important;
  transition: font-size 0.2s ease 0.1s, opacity 0.2s ease;
}

.css-w0pj6f {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}

.bottom-nav-sell-blue {
  width: 54px !important;
  height: 54px !important;
  margin: -19px 0 10px !important;
  border-radius: 50%;
  background-color: #1877f2;
  border: none;
}
.search-success {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-color: transparent;
  border-radius: 0px 30px 30px 2px;
  height: 36px;
  color: #717171;
  font-size: 20px;
  line-height: 20px;
  padding: 0 15px;
}
.mobile-tabs {
  flex: auto;
  margin: 0px 1%;
}
.mobile-footer {
  margin-bottom: 70px;
  color: #233d7a;
  background-color: #fff;
}
.footer-bottom {
  color: #fff;
  background-color: #233d7a;
  padding: 15px 0;
  font-size: 14px;
}
.footer-links {
  font-size: 14px;
  padding-bottom: 10px;
}
.footer-links a {
  color: #fff;
  display: inline-block;
  padding: 0 4px;
  margin: 0 4px;
}
.mobile-footer .copy {
  max-width: 262px;
  margin: 0 auto 15px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: white;
  text-align: center;
}

/* category carousel contols show only on hover*/
.carousel .carousel-control-prev,
.carousel .carousel-control-next
{
    visibility: hidden;
    opacity: 1;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next
{
    visibility: visible;
    animation-duration: 1s;
    transition-timing-function: linear;
}

.carousel:hover .carousel-control-prev
{
    animation-name: FadeInPrev;
}

.carousel:hover .carousel-control-next
{
    animation-name: FadeInNext;
}

@keyframes FadeInPrev
{
    0%
    {
        opacity: 0;
        padding-left: 40px;
    }
    100%
    {
        opacity: 1;
        padding-left: 0px;
    }
}

@keyframes FadeInNext
{
    0%
    {
        opacity: 0;
        padding-right: 40px;
    }
    100%
    {
        opacity: 1;
        padding-right: 0px;
    }
}

.close-btn{
  padding: 0px;
  background: transparent;
  border: none;
  position: absolute;
  top: -10px;
  left: 105px;
}

.password-icons:hover{
  color: #2962ff;
}

.password-icons{
  position: absolute;
  top: 45px;
  right: 10px;
}

.addEditProd{
  .searchAble{
    .Select-control{
      height: 35px !important;
    }
  }
}

.form-label{
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.privacy-container{
  p, ul{
    color: black;
    font-size: 15px;
  }
  h1,h3{
    
      font-family: inherit;
      font-weight: 700;
      line-height: 1.5;
      color: #233d7b;
  
  }
}

.navlink-active{
  border: 2px solid #d9d9d9;
  background-color: #f2f2f2;
}
.required-field{
	color:red;
}
