.searchAble {
  outline: none;
  border: none;
  padding: 0px;
  border-radius: 0px;
  height: 50px !important;
  min-width: 60px;
  .Select-control{
    height: 50px !important;
  }
}
.mobileSearcAble {
  outline: none;
  border: none;
  border-radius: 0px;
  height: 35px !important;
  min-width: 40px;
  padding-top: 5px;
}

.border-right {
  border-right: 1px solid #eaedef;
}

.twitter-typeahead {
  position: relative;
  display: inline-block;
}

.border-left-radius {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.border-right-radius {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cursor-pointer {
  cursor: pointer;
}
.carousel-control-next {
  right: -40px !important;
}

.category-title {
  font-size: 27px;
  line-height: 27px;
  cursor: pointer;
  background-color: white;
  /* color: #222; */
}
.category-title .icon {
  font-size: 20px;
  margin-right: 5px;
  margin-top: -3px;
}
.border-radius {
  border-radius: 4px;
}
.category {
  display: flex;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 4px;
}
.category-section {
  min-width: 200px;
}
.categoryNavbar{
  background-color: white;
  z-index: 99999;
}
.categoryNavbar .nav-link:hover {
  text-decoration: none;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.category-hot-product {
  background: linear-gradient(to top, #660033 0%, #003366 100%);
  height: 200px;
  display: flex;
}
.hot-slider .react-multi-carousel-list {
  height: 170px !important;
}
.hot-slider .featured-card{
  width:190px !important;
}

.cover_image_select{
  cursor: pointer;
}

.cover_image_select:hover{
  border: 3px solid orange;
}

.cover_image_select.active{
  border: 3px solid green;
}