.request-featured{
	cursor: pointer;
	position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px 15px;
  border-radius: 5px;
  background-color: #b5eeff;
  color: black;
}
.requested-featured{
	cursor: pointer;
	position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px 15px;
  border-radius: 5px;
  background-color: #15dc0e;
  color: black;
}