
.pageHeading{
	color:#233d7b;
	line-height: 20px;
	margin-top:10px;
}
.usedTractorContainer{
	
}
.searchCounterWrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 0px 10px;
}
.organize-results{
display: flex;
overflow: hidden;

}
